* {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* 
nav {
  display: flex;
  background-color: whitesmoke;
}

nav li {
  list-style: none;
  padding: 0 23px;
  color: white;
  background-color: black;
} */

.yellow {
  background-color: yellow;
  color: black;
}

.red {
  background-color: red;
  color: black;
}

.text-white{
  color: white;
}
